{% load static %}

<main>
    {% if user.is_authenticated %}
    <p class="main-text">

        {% csrf_token %}
        Если вы нуждаетесь в помощи, заполните эти формы, и этот пост будет опубликован на SOS, в канале <a href="#" class="main-link">Telegram</a>, на платформах: <a href="#" class="main-link">ВКонтакте</a>, <a href="#" class="main-link">Инстаграм</a>, а также на <a href="#" class="main-link">Facebook</a>
    </p>
    <form id="contact">
<!--        {% csrf_token %}-->
        <div class="inputs">

                <input name="card_first_name" placeholder="Aty" type="text" tabindex="1" autocomplete="off" required>
                <input name="card_last_name" placeholder="Tegi" type="text" tabindex="2" autocomplete="off" required>
                <input name="card_phone_number" placeholder="Nomeri" type="tel" tabindex="3" autocomplete="off" required>
                <div class="custom-select">
                    <select name="card_region" class="card_region">
<!--                      <option value="0">Select Region</option>-->
                        {% for field in region %}
                        <option value="{{ field.region_id }}">{{ field.name }}</option>
                        {% endfor %}
                    </select>
                  </div>

        </div>
        <textarea maxlength="600" name="card_desc" placeholder="Sipattama" tabindex="5" autocomplete="off" required></textarea>
        <div class="form-buttons">
                <input name="card_file" id="image-file" type="file" class="add-photo"><span class="iconify" data-icon="simple-line-icons:paper-clip" data-inline="false" data-rotate="180deg"></span></input>
                <button name="submit" id="contact-submit" data-submit="...Sending" onclick="recordCard({{ user.id }})"><span class="iconify" data-icon="ic:round-send" data-inline="false"></span></button>
        </div>
    </form>
    <p href="#" class="main-link">Сообщение будет отправлено благотварительным фондам</p>

<!--    <div class="news-feed">-->
<!--        <div class="post">-->
<!--            <div class="post-leftside">-->
<!--                <div class="account">-->
<!--                    <img src="#" alt="" class="account-logo">-->
<!--                    <div class="account-text">-->
<!--                        <p class="account-name">-->
<!--                            Shilibekov Ansar-->
<!--                        </p>-->
<!--                        <p class="post-time">15:00  28.02.2020</p>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="post-description">Возле меня живет женщина-инвалид, которой требуется материальная помощь в виде продуктов и одежды. В  силу своей неработоспособности она не имеет возможности зарабатывать и обеспечивать себя всеми нужными вещами. Ее пособия хватает только на ком. услуги, лекарства и немного еды. Прошу помочь.</div>-->
<!--            </div>-->
<!--            <img class="post-images" src="#" alt="">-->
<!--            <button class="post-button">-->
<!--                <span class="iconify" data-icon="fa-solid:hand-holding-heart" data-inline="false"></span>-->
<!--            </button>-->
<!--        </div>-->
<!--    </div>-->
    {% else %}
    {% endif %}
</main>

<!--{% block javascript %}-->
<!--<script src="https://code.iconify.design/1/1.0.4/iconify.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<!--<script>-->
<!--window.onload = function () {-->
<!--  document.body.classList.add('loaded_hiding');-->
<!--  window.setTimeout(function () {-->
<!--    document.body.classList.add('loaded');-->
<!--    document.body.classList.remove('loaded_hiding');-->
<!--  }, 1500);-->
<!--}-->
<!--</script>-->
<!--<script src="{% static 'signin/js/main.js' %}"></script>-->
<!--{% endblock %}-->