{% load static %}

<footer>
    <div class="footer-icons">
        <div href="#" class="footer-link"><span class="iconify" data-icon="entypo-social:vk-with-circle" data-inline="false"></span></div>
        <div href="#" class="footer-link"><span class="iconify" data-icon="fa-brands:telegram" data-inline="false"></span></div>
        <div href="#" class="footer-link"><span class="iconify" data-icon="entypo-social:instagram-with-circle" data-inline="false"></span></div>
        <div href="#" class="footer-link"><span class="iconify" data-icon="fa-brands:facebook" data-inline="false"></span></div>
    </div>
    <div class="footer-links">
        <a href="#" class="footer-mail-link">save.our.souls.kz@gmail.com</a>
        <p class="footer-creators">Powered by @Positive Tech</p>
    </div>
</footer>