{% load static %}

{% if user.is_authenticated %}
<header style="height: unset; grid-template-rows: .1fr;">
{% else %}
<header>
{% endif %}
    <h1 class="title">
        Save Our Souls
    </h1>
    <nav class="navigation">
        <ul>
            {% if user.is_authenticated %}
            <li class="navigation-item">
                <a href="{% url 'list' %}" class="navigation-item__link">
                    Список карт
                </a>
            </li>
            <li class="navigation-item">
                <a href="{% url 'home' %}" class="navigation-item__link">
                    Создать карту
                </a>
            </li>
            <li class="navigation-item">
                <a href="{% url 'logout' %}" class="navigation-item__link">
                    Выйти
                </a>
            </li>
            {% else %}
            <li class="navigation-item">
                <a href="{% url 'signup'%}" class="navigation-item__link">
                    Зарегистроваться
                </a>
            </li>
            <li class="navigation-item">
                <a href="{% url 'login' %}" class="navigation-item__link">
                    Войти
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% if user.is_authenticated %}
<!--    <hr>-->
    {% else %}
    <img class="header-logo" style="" src="{% static 'signin/img/SOS2.png' %}" alt="logo">
    <p class="header-text">
        SOS создан для людей в виде моральной, материальной и поисковой помощи.
    </p>
    <p class="main-text">
        "SOS" — это платформа онлайн-пожертвований, где каждый сможет протянуть руку помощи нуждающимся людям.
По всему миру на фоне роста числа инфицированных коронавирусом, всплеска пневмонии и других не менее серьезных болезней, удлиняются очереди перед аптеками. В настоящее время нужные медикаменты сложно найти не только по городу, но и по всей стране. И даже если повезет найти, то далеко не у всех есть возможность их приобрести в связи с материальным положением или плохим состоянием здоровья. Часто складывается так, что от лекарственных препаратов зависит жизнь человека, и их отсутствие является причиной трагических последствий.
Наша задача — объединиться и помочь друг другу. Благодаря данной платформе вы сможете связываться друг с другом, помогать советами, поддержкой, с доставкой и оплатой медикаментов тем, кому это действительно необходимо.
И мы просим вас стать частью этого благого дела. Именно вы можете стать тем человеком, который будет причастен к спасению чьей-то жизни.
Этот проект работает по схеме соединения людей и взаимопомощи. Нуждающиеся могут заполнить форму, в которой укажут свою проблему. В это же время сервис отправит эти данные на электронную почту благотворительных фондов, в telegram-канал этого сервиса, а также сохранит данные в базе веб-сайта.
А те неравнодушные люди, которые хотят помочь нуждающимся, могут зайти либо на сайт, либо в telegram-канал, и посмотреть все заявки, оставленные нуждающимися.
Эта система поможет людям быстрее получить помощь, которая особенно важна в наше время. Мы сделаем так, что люди смогут достучаться и без особых проблем поделиться своими переживаниями.
    </p>
    {% endif %}
</header>