{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'signin/css/login.css'%}">
{% endblock %}

{% block content %}
    <main>
        <h1>Save our souls</h1>
            <p class="signup-text" style="color: white;font-family: 'Noto Sans', sans-serif;">Create your account to continue.</p>
            <form method="POST">
                {% csrf_token %}
<!--                {{ form.username.label_tag }}-->
                <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username" placeholder="User name">
                {% if form.username.help_text %}
                  <small>{{ form.username.help_text }}</small>
                {% endif %}
                {% for error in form.username.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
<!--                {{ form.first_name.label_tag }}-->
                <input type="text" name="first_name" maxlength="30" id="id_first_name" placeholder="First name:">
                 {% if form.first_name.help_text %}
                  <small>{{ form.first_name.help_text }}</small>
                {% endif %}
                {% for error in form.first_name.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
<!--                {{ form.last_name.label_tag }}-->
                <input type="text" name="last_name" maxlength="30" id="id_last_name" placeholder="Last name" >
                 {% if form.last_name.help_text %}
                  <small>{{ form.last_name.help_text }}</small>
                {% endif %}
                {% for error in form.last_name.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
<!--                {{ form.email.label_tag }}-->
                <input type="email" required id="id_email" maxlength="254" name="email" placeholder="Email">
                 {% if form.email.help_text %}
                  <small>{{ form.email.help_text }}</small>
                {% endif %}
                {% for error in form.email.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
<!--                {{ form.password1.label_tag }}-->
                <input type="password" required id="id_password1" name="password1" placeholder="Password" autocomplete="new-password" aria-placeholder="Password">
                {% if form.password1.help_text %}
                  <small>{{ form.password1.help_text }}</small>
                {% endif %}
                {% for error in form.password1.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
<!--                {{ form.password2.label_tag }}-->
                <input type="password" required id="id_password2" name="password2" placeholder="Password confirmation" autocomplete="new-password">
                {% if form.password2.help_text %}
                  <small>{{ form.password2.help_text }}</small>
                {% endif %}
                {% for error in form.password2.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
                <button class="login-btn" type="submit">Create account</button>
            </form>
        <div class="footer-links">
            <a href="{% url 'login' %}" class="link">Already have an acocunt? Sign in</a>
        </div>
    </main>
{% endblock %}