@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Noto+Sans:400,700&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

body {
  margin: 0;
  padding: 0;
  background: #2C2627;
  overflow-x: hidden; }

header {
  background: url(../img/background.png);
  background-repeat: no-repeat;
  background-position: center -80px;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr .8fr;
  grid-template-columns: 1fr .8fr;
  -ms-grid-rows: .1fr 1fr;
  grid-template-rows: .1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header-logo {
  width: 500px; }

.title {
  -ms-grid-column-align: center;
  justify-self: center;
  text-align: center;
  color: white;
  font-family: "Noto Sans", sans-serif;
  padding: 10px 20px;
  margin-top: 5px; }

.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.navigation-item__link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  padding: 0 10px;
  position: relative;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.navigation a:hover {
  color: #8d8181; }

.navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1rem;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  -o-transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1); }

.navigation a:hover::after {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.header-text {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  max-width: 700px;
  text-align: center;
  letter-spacing: 1.5px;
  font-weight: 700; }

input, textarea {
  outline: none; }

main {
  margin: 20px auto;
  max-width: 1440px;
  width: 100%;
  max-height: 100vh;
  background: #2C2627;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3rem 5rem; }

.card {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 10px;
  border: none;
  background-color: #FAF8F0;
  padding: 1rem 2rem;
  -webkit-box-shadow: #4d4d5a40 0px 50px 100px -20px, #ffffff4d 0px 30px 60px -30px;
  box-shadow: #4d4d5a40 0px 50px 100px -20px, #ffffff4d 0px 30px 60px -30px; }
  .card-name {
    font-size: 1.25rem;
    width: 100%; }
  .card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .card-list__item {
      text-decoration: underline; }
    .card-list__sidebar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 100%;
      max-width: 320px; }
    .card-list__img {
      width: 100%;
      max-width: 300px;
      min-height: 100px;
      margin: 10px 0; }
    .card-list__button {
      min-width: 60px;
      margin: 10px 0;
      padding: 10px 15px;
      border-radius: 10px;
      border: none;
      background: #B21919;
      color: #FAF8F0;
      cursor: pointer; }
    .card-list__block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      width: 100%;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly; }
    .card-list__alert {
      color: green;
      font-family: 'Montserrat', sans-serif;
      font-size: 12px; }

.iconify {
  width: 20px;
  height: 20px;
  margin: 0;
  position: absolute;
  top: 10px;
  left: 10px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  color: #FAF8F0; }

.iconify:hover {
  color: #B21919;
  width: 22px;
  height: 22px;
  cursor: pointer; }

footer {
  height: 450px;
  width: 100%;
  color: white;
  position: relative;
  background: url(../img/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0px;
  padding-top: 100px;
  margin-top: 100px; }

.footer-mail-link {
  position: absolute;
  bottom: 10px;
  text-align: center;
  color: white;
  text-decoration: none;
  margin: 0 auto;
  -ms-grid-column-align: center;
  justify-self: center;
  right: 44vw;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.footer-mail-link:hover {
  text-decoration: underline; }

.footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 210px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .footer-icons .iconify {
    position: relative;
    width: 40px;
    height: 40px; }
  .footer-icons .iconify:hover {
    color: #f09292; }

.footer-creators {
  position: absolute;
  bottom: 10px;
  left: 20px;
  margin: 0;
  font-family: "Montserrat", sans-serif; }

.preloader {
  width: 100vw;
  height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-column-align: center;
  justify-self: center;
  background-color: #303030;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20; }

.pulse {
  height: 100px;
  width: 200px;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.pulse:after {
  content: '';
  display: block;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200px 100px" enable-background="new 0 0 200px 100px" xml:space="preserve"><polyline fill="none" stroke-width="3px" stroke="white" points="2.4,58.7 70.8,58.7 76.1,46.2 81.1,58.7 89.9,58.7 93.8,66.5 102.8,22.7 110.6,78.7 115.3,58.7 126.4,58.7 134.4,54.7 142.4,58.7 197.8,58.7 "/></svg>') 0 0 no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-animation: 2s pulse linear infinite;
  -moz-animation: 2s pulse linear infinite;
  -o-animation: 2s pulse linear infinite;
  animation: 2s pulse linear infinite;
  clip: rect(0, 0, 100px, 0); }

.pulse:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 2px;
  right: 2px;
  bottom: 0;
  top: 16px;
  margin: auto;
  height: 3px; }

@-webkit-keyframes pulse {
  0% {
    clip: rect(0, 0, 100px, 0);
    opacity: 0.4; }
  4% {
    clip: rect(0, 66.66667px, 100px, 0);
    opacity: 0.6; }
  15% {
    clip: rect(0, 133.33333px, 100px, 0);
    opacity: 0.8; }
  20% {
    clip: rect(0, 300px, 100px, 0);
    opacity: 1; }
  80% {
    clip: rect(0, 300px, 100px, 0);
    opacity: 0; }
  90% {
    clip: rect(0, 300px, 100px, 0);
    opacity: 0; }
  100% {
    clip: rect(0, 300px, 100px, 0);
    opacity: 0; } }

@keyframes pulse {
  0% {
    clip: rect(0, 0, 100px, 0); }
  4% {
    clip: rect(0, 66.66667px, 100px, 0); }
  15% {
    clip: rect(0, 133.33333px, 100px, 0); }
  20% {
    clip: rect(0, 300px, 100px, 0);
    opacity: 1; }
  80% {
    clip: rect(0, 300px, 100px, 0);
    opacity: 0; }
  90% {
    opacity: 0; }
  100% {
    clip: rect(0, 300px, 100px, 0);
    opacity: 0; } }

.loaded_hiding .preloader {
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 1;
  display: block; }

.loaded .preloader {
  display: none; }

.custom-select {
  position: relative;
  font-family: Arial;
  width: 100%;
  max-width: 458px; }

.custom-select select {
  display: none; }

.select-selected {
  background-color: #FAF8F0; }

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 26px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: black transparent transparent transparent; }

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent black transparent;
  top: 22px; }

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: black;
  padding: 11.5px 20px;
  margin-top: 10px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  border-radius: 40px;
  width: 100%;
  max-width: 458px; }

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #FAF8F0;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border: none; }

/* Hide the items when the select box is closed: */
.select-hide {
  display: none; }

.select-items div:hover,
.same-as-selected {
